<div fxFlex="100" fxLayout="column">
    <div>
        <mat-toolbar color="primary" class="inbox-toolbar">
            <button mat-icon-button matTooltip="Add Group" (click)="add()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar>
        <div class="mat-box-shadow margin-333 scroll-sec">
            <ngx-datatable #myTable class="material bg-white" [columnMode]="'flex'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="70" [rows]="rows"
                [messages]="{'emptyMessage':'No data', 'totalMessage':'Total', 'selectedMessage':'Selected'}">

                <ngx-datatable-column name="Name" [flexGrow]="0.4">
                    <ng-template let-column="column" ngx-datatable-header-template>Name</ng-template>
                    <ng-template let-rowIndex="row" let-row="row" ngx-datatable-cell-template>
                        <div style="padding-top:10px;">{{ row.name }}</div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="User Count" [flexGrow]="0.4">
                    <ng-template let-column="column" ngx-datatable-header-template>User Count</ng-template>
                    <ng-template let-rowIndex="row" let-row="row" ngx-datatable-cell-template>
                        <div style="padding-top:10px;">{{ row.users ? row.users.length : 0 }}</div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="actions" [flexGrow]="0.2">
                    <ng-template let-column="column" ngx-datatable-header-template>Actions</ng-template>
                    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div style="padding-top:10px;" class="edit-delete-sec">
                            <button mat-icon-button mat-sm-button color="warn" class="mr-1" (click)="delete(row.categoryId)"
                                matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>